.subscription-section{
    background-color: #607d8b14;
    padding: 50px 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0dcaf0;
    outline: 0;
    box-shadow: none
}

.my-card{
    padding: 40px 0;
}

.border-rad {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #fff;
    background-color: #0dcaf0;
    border-color: #0dcaf0
}

.border-rad:hover {
    background-color: #0dcaf0;
    border-color: #0dcaf0
}