.about-us-image{
    background-image: url('https://i.ibb.co/T2vVbg4/national-cancer-institute-NFvd-KIhx-Yl-U-unsplash.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    background-attachment: scroll;
    padding: 80px 0;
}